body {
    background: url('/assets/images/foggy-mountains.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.bg-image-top {
    background-image: url('/assets/images/foggy-mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Custom backgrounds */
.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

/* Override card to always have same heigth cards */
.card {
    height: 100%;
}